.row:after {
	content: '';
	clear: both;
	display: block;
}

.row.row--gutter > .column {
	padding: 1em;
}

.column {
	float: left;
	width: 100%;
}

.column--1-2 {
	width: 50%;
}

.column--2-2 {
	width: 100%;
}

.column--1-3 {
	width: 33.333%;
}

.column--2-3 {
	width: 66.666%;
}

.column--3-3 {
	width: 100%;
}

@media (max-width: 740px) {
	.column--md {
		width: 100%;
	}
	
	.column--md-1-3 {
		width: 33.3333%;
	}

	.column--md-2-3 {
		width: 66.666%;

	}
	.column--md-3-3 {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.column--sm {
		width: 100%;
	}
}
