@font-face {
		font-family: 'Crimson Text';
		src: url('assets/fonts/crimsontext/CrimsonText-Regular.ttf');
}

@font-face {
		font-family: 'Yeseva One';
		src: url('assets/fonts/yesevaone/YesevaOne-Regular.ttf');
}

*, *:before, *:after {
	box-sizing: border-box;
}

header {
	background-color: #1B6453;
	line-height: 70px;
	height: 70px;
	padding: 0 1em;
}

header img {
	margin-top: 10px;
	width: 50px;
	height: 50px;
	display: inline;
}

body {
	margin: 0;
}

.section h1 {
	margin: 0;
	padding: 50px 0 20px 55px;
	color: white;
	text-shadow: 2px 2px #000;	
}

.column h3 {
	font-family: 'Crimson Text';
}

h4 {
	font-family: 'Crimson Text' ;
	margin-top: 0;
}

h1 + h4 {
	color: white;
	text-shadow: 2px 2px #000;
	padding: 0px 0 50px 55px;
	font-family: 'Crimson Text'
}

h2 + p {
	padding: 10px;
}

a {
	display: inline;
	font-size: 10px;
	font-family: 'Crimson Text';
}

.first a {
	color: white;
	padding: 0 1em;
	font-size: 12px;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

p {
	font-family: 'Crimson Text';
	font-size: 10px;
	color: #252525;
}

h4 > p {
	text-align: left;
}

header > nav {
	float: right;
}

nav .first {
	display: inline;
	list-style-type: none;
	font-family: Arial, sans-serif;
	font-size: .75em;
}

.section {
	background-color: #a9a9a9;
	background-image: url('assets/images/hero.jpg');
	margin-bottom: 50px; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.4;
	filter: alpha(opacity=10);
	width: 100%;
}

.first li {
	display: inline-block;
}

aside {
	border-left: 1px #d3d3d3 solid;
}

.three {
	background-color: #d3d3d3;
}

blockquote {
	color: gray;
	font-style: italic;
	font-size: 1.5em;
	margin: 1em 0;
	padding: 10px;
	font-family: cursive;
	text-align: center;
}

aside {
	float: left;
	color: #252525;
}

aside > h5 {
	font-family: 'Crimson Text';
}

.column1, 
.column2,
.column3 {
	float: left;
	width: 33%;
	background-color: #d3d3d3;
	text-align: left;
	line-height: 1em;
	padding: 20px;
}

.lines a {
	text-decoration: underline;
}

footer {
	background-color: #eee;
	padding: 5px;
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}

nav > .last {
	float: left;
	margin-top: 1px;
	margin-bottom: 0;
	list-style-type: none;
}

.last a {
	color: #d3d3d3;
	float: left;
}

.last li {
	float: left;
	padding: 10px;
}

.last ul {
	padding: 0;
	margin: 0;
	float: left;
	height: 15px;
}

small {
	float: left;
	font-family: sans-serif;
	font-size: 10px;
	padding: 10px;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

main {
	margin: 1em auto;
	max-width: 900px;
}

/*shop starts below*/

.shop {
	background-color: #eee;
	margin: 0 auto;
	margin-top: 1em;
	line-height: 50px;
	height: 50px;
	padding: 0 1em;
	width: 90%;
}

.shop p {
	line-height: 20px;
	height: 20px;
	font-family: 'Crimson Text';
	font-size: 16px;
	display: inline-block;
	width: 60%;
}

.shop a {
	font-size: 10px;
    font-family: 'Crimson Text';
    float: right;
}

a + img {
	width: 50px;
	height: 20px;
	float: right;
    margin-top: 10px;
}

section > a {
	float: right;
	color: #551A8B;
	line-height: 50px;
}

.master-box {
	padding: 1em;
	width: 33%;
    float: left;
}

.boxes {
	padding: 0 4em;
}

.box {
	background-color: #eee;
	width: 100%;
	float: left;
	padding: 1em;
}

.box img {
	width: 100%;
	float: right;
}

.box #cart {
	padding: 1.5em 0;
	float: right;
	font-family: 'Crimson Text';
	color: #551A8B;
}
.spice-price {
	font-family: 'Crimson Text';
	font-size: 11px;
	float: left;
}

.price > p:first-of-type {
	float: left;
	line-height: 10px;
	height: 10px;
	font-size: 12px;
	padding: 5px;
}

/*about starts below*/

header + h3 {
	padding: 20px;
	border-bottom: 1px #d3d3d3 solid;
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	font-family: 'Yeseva One';
}

article > h3 {
	font-family: 'Crimson Text';
	width: 100%;
}

article {
    width: 100%;
    padding-left: 2em;
}

article p:first-of-type {
	font-size: 14px;
	font-family:'Crimson Text';
}

p {
	font-size:11px;
	font-family:'Crimson Text';
}

.maps {
	float: right;
	margin-left: 1em;
	border-left: 1px #d3d3d3 solid;
	width: 40%;
    height: 30%;
}

/*contact starts below*/

h2 {
	border-bottom: 1px #d3d3d3 solid;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
    font-family: 'Yeseva One';
    padding: 1em;
 }

.last-section {
	padding: 1em;
    width: 90%;
    margin-left: 8%;
}

.last-section p {
	font-family: 'Crimson Text';
	font-size: 12px;
	margin: 0 auto;
	width: 100%;
}

label {
	display: block;
	padding: 10px;
}

h2 > section  p {
	width: 80%;
	font-size: 10px;
	font-family:'Crimson Text';
}

input[type="text"] {
	min-width: 200px;
	max-width: 100%;
	padding: 1em;
}

textarea {
	width: 80%;
	padding: 2em;
	margin-left: 12%;
}

button, input, select, textarea {
	font-size: 10px;
}

#First-Name {
	width: 100%;
}

.name {
	margin-left: 120px;
	float: left;
	margin-right: 180px;
	font-family: sans-serif;
	font-size: 12px;
}

.last-name {
	font-family: sans-serif;
	font-size: 12px;
	width: 100%;
}

.email {
	padding: 20px;
	display: block;
	font-family: sans-serif;
	margin-left: 100px;
	font-size: 12px;
}

.message p {
	font-family: sans-serif;
	float: left;
	margin-left: 120px;
	font-size: 12px;
}

.contact {
	font-family: sans-serif;
	float: left;
	margin-left: 110px;
	font-size: 12px;
}

input #contact {
	display: block;
}

#Contact {
	margin-left: 1em;
}

.submit {
	font-family: sans-serif;
	display: block;
	width: 50px;
	margin-left: 120px;
}

#Submit {
	width: 50px;
}

button {
	display: none;
}

@media (max-width: 740px) {
	blockquote {
		font-size: 20px;
	}

	.last-name {
		display: inline-block;
		margin-left: 120px;
    	margin-right: 180px;
	}

	.master-box {
		padding: 1em;
		width: 100%;
	    display: inline-block;
	}

	.maps {
		display: inline-block;
		width: 100%;
	}

	p {
		display: inline-block;
		width: 100%;
	}
}

@media (max-width: 450px) {
	nav { 
		display: none; }

	button {
		float: right;
	}

	blockquote {
		font-size: 18px;
	}

	a + img {
		display: none;
	}

	.shop a {
		display: none;
	}
}